body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ulfirst{
  display: inline-block;
}

.ulsecond{
  display: inline-block;
  position: absolute;
  margin-top: -28px;
}