<h1>Add a Workers</h1>
<form>
	<div class="form-group">
		<label>First Name</label>
		<input class="form-control" ng-model="workers.first_name"></input>
	</div>
	<div class="form-group">
		<label>Last Name</label>
		<input class="form-control" ng-model="workers.last_name"></input>
	</div>
	<div class="form-group">
		<label>Phone Number</label>
		<input class="form-control" ng-model="workers.phone_number"></input>
	</div>
	<div class="form-group">
		<label>Address</label>
		<input class="form-control" ng-model="workers.address"></input>
	</div>
	<input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
</form>